:root {
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mali', cursive;
}

.header {
  height: 10vh;
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;

}

.header--globe {
  color: var(--white);
  font-size: 2rem;
  padding-right: 0.7rem;
}

.header--title {
  color: var(--white);
  font-weight: 400;
  letter-spacing: -3px;
}